
h1{
    text-align: center;
}
body{
    background-color: rgb(234, 234, 234);
}
tr{
    display: flex;
    gap: 14px;
}

img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid white 6px;
    width: 480px;
    box-shadow: 10px 8px 8px rgb(135, 135, 135);
}
h3{
    text-align: center;
}